<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>mongodb-tornado-angular - step 2</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<body>

<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">mongodb-tornado-angular</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/help">Help</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div class="jumbotron">
    <h2>mongodb-tornado-angular tutorial</h2>
    <p>Step 2</p>
    <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>

</body>
</html>